# Server Configuration
PORT=3000
NODE_ENV=development

# Database
MONGO_URI=mongodb://localhost:27017/whoareya

# Session
SESSION_SECRET=your-secret-key-here
SESSION_MAX_AGE=86400000

# CORS
CORS_ORIGIN=http://localhost:3000

# Game Configuration
SOLUTION_START_DATE=2025-01-10

# OAuth Google
GOOGLE_CLIENT_ID=69917333876-6h95jngqqlho3nikqqfnc0mv245nom1b.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# OAuth GitHub
GITHUB_CLIENT_ID=Ov23liS9LLYT0ZYkds2V
GITHUB_CLIENT_SECRET=c85ed6c105d07720a06a9bb8dbcad89796bb7b57
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback

# JWT Configuration
JWT_SECRET=mltX2IFGvPV9gE5LUywKnizpC6HNQsMZJqA714WBY3bouRjkdeaSfxh0cTD8Or
JWT_EXPIRES_IN=24h
JWT_REFRESH_SECRET=MJjW0l3hR8bdsmPpXxSnr2NVI7aTBzkwFv1itgA5ODQEL9UYqKefCG4yH6oZuc
JWT_REFRESH_EXPIRES_IN=7d